* {
    box-sizing: border-box;
}

body {
    background-color: red;
}

@media only screen and (max-width: 776px) {
    .navbar {
        background-color: rgb(44, 62, 80);
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
    }
    .container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }
    .link-navbar {
        text-decoration: none;
        display: block;
    }
}