* {
    box-sizing: border-box;
}

body {}


/*mobile phone layout */

@media only screen and (max-width: 776px) {
    .navbar {
        background-color: rgb(44, 62, 80);
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
    }
    .container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }
    .link-navbar {
        text-decoration: none;
        display: block;
    }
    .svg-icon {
        width: 15rem;
        margin-bottom: 3rem !important;
    }
    .masthead {
        padding-top: 5rem;
        padding-bottom: 6rem;
        background-color: #1abc9c;
        color: white;
    }
    .masthead-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .ligne {
        width: 100%;
        max-width: 6rem;
        height: 10px;
        background-color: white;
    }
    .star-design {
        display: flex;
    }
}